/* Accordion */
.accordion-item {
  border: none;
  border-radius: 0;
  border-bottom: 3px solid var(--color-2);
}

.accordion-header {
  border: none;
}

.accordion-button {
  border: none;
  border-radius: 0;
  font-family: 'Rubik', sans-serif;
  color: var(--color-2);
  font-weight: 600;
  font-size: 20px;
}

.accordion-body {
  font-family: 'Rubik', sans-serif;
  color: var(--color-2);
  font-weight: 500;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
}

.accordion-button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.3s ease;
}

.accordion-button.collapsed::after {
  transform: translateY(-50%) rotate(-90deg);
}

.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-active-icon);
  transform: none !important;
}

.accordion-button:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 991px) {
  .accordion-button:not(.collapsed)::after {
    transform: translateY(-50%) rotate(0deg) !important;
  }

  .accordion-button.collapsed::after {
    transform: translateY(-50%) rotate(-90deg);
  }

  .accordion-item.second-item .accordion-button:not(.collapsed)::after {
    transform: translateY(-50%) rotate(0deg) !important;
  }

  .accordion-item.second-item .accordion-button.collapsed::after {
    transform: translateY(-50%) rotate(-90deg);
  }
}
