.accordion-item {
  border: none;
  border-radius: 0;
  border-bottom: 3px solid var(--color-2); /* Add a bottom border if desired */
}

.accordion-header {
  border: none;
}

.accordion-button {
  border: none;
  border-radius: 0;
}