/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Geologica:wght@400;500;600;700&display=swap');

:root {
  --color-1: rgb(255, 110, 47);
  --color-2: rgb(11, 59, 94);
  --color-3: rgb(64, 106, 136);
}

/* Font Style */
* {
  font-family: 'Roboto Condensed', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.nav-link,
.font-rubik {
  font-family: 'Rubik', sans-serif;
}

.font-roboto-condensed {
  font-family: 'Roboto Condensed', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-geologica {
  font-family: 'Geologica', sans-serif;
}

.fs-12px {
  font-size: 12px;
}

.fs-14px {
  font-size: 14px;
}

.text-justify {
  text-align: justify;
}

@media screen and (min-width: 991px) {
  .banner h1 {
    font-size: 50px;
  }
}

/* Colors */
.color-1 {
  color: var(--color-1);
}

.color-2 {
  color: var(--color-2);
}

.color-3 {
  color: var(--color-3);
}

a {
  color: inherit
}

/* Space for Header */
.header-padding {
  padding-top: 170px;
}

/* Shadow Style */
.shadow-1 {
  -webkit-box-shadow: 0 3px 5px 3px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 3px 5px 3px rgba(0, 0, 0, .25);
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, .25);
}

/* Button Style */
.btn.btn-1 {
  position: relative;
  background-color: var(--color-1);
  color: white;
  padding: 0.8rem 1.8rem;
  transition: all 0.5s;
  border-width: 2px;
  border-radius: unset;
  border: unset;
  overflow: hidden;
}

.btn.btn-1::before {
  content: '';
  width: 110%;
  height: 9px;
  position: absolute;
  left: -110%;
  bottom: -5px;
  background-color: var(--color-2);
  transition: all 0.5s;
}

.btn.btn-1:hover::before {
  left: -5%;
}

.btn.btn-1:hover {
  border-color: var(--color-2);
}

.btn.btn-border-left {
  border-left: 10px solid var(--color-2);
}

/* Header and OffCanvas Style */
.nav-link {
  transition: 0.5s;
}

.nav-link.active,
.nav-link:hover {
  -webkit-box-shadow: inset 0 -2px 0 0 var(--color-1);
  -moz-box-shadow: inset 0 -2px 0 0 var(--color-1);
  box-shadow: inset 0 -2px 0 0 var(--color-1);
}

.offcanvas .nav-link {
  padding: 8px;
}

header {
  transition: 0.5s;
  padding-top: 6rem;
  z-index: 100;
}

header .navbar-nav {
  gap: 1rem;
}

header .navbar-brand {
  font-size: 50px;
}

@media screen and (min-width: 1199px) {
  header .navbar-brand {
    font-size: 100px;
  }
}

header.on-scroll {
  padding: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(0, 0, 0, 0.25);
}

header.on-scroll .navbar-brand {
  font-size: 50px;
}

/* Banner Style */
.banner .banner-img {
  min-height: 500px;
  object-fit: cover;
  object-position: top center;
}

.banner .banner-text {
  position: absolute;
  top: 50%;
}

.banner .height-200px {
  max-height: 200px;
}



/* --------------------------------------------------------
PAGE CONTENT STYLE
--------------------------------------------------------*/



/* ___ Home Style ___ */
.home {
  position: relative;
}

.home .banner .banner-img {
  min-height: 700px;
  object-fit: cover;
  object-position: center;
}

.home .section-1 .item {
  background-color: white;
  max-width: 700px;
  padding: 3rem;
}

.home .section-2 .background-image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 20vw;
  padding-block: 8vw;
}

.home .section-2 .text-box {
  background-color: white;
  padding: 1rem;
}

.home .section-2 .blue-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--color-2);
  padding: 1rem;
}

.home .section-2 .blue-text-box>* {
  margin: 0;
}

.home .section-2 .blue-text-box .large {
  font-size: 70px;
  line-height: 3.8rem;
  margin-bottom: -10px;
}

.home .section-2 .blue-text-box :last-child {
  background-color: white;
  color: var(--color-1);
  padding: 0.5rem 1.5rem;
  font-size: 12px;
}

.home .section-2 .text-box .row .fa-solid {
  font-size: 8px;
  color: green;
  margin-right: 1rem;
}

.home .section-2 .text-box .row .col {
  display: flex;
  align-items: center;
}

.home .section-2 .text-box h6,
.home .section-2 .text-box p,
.home .section-2 .text-box span {
  line-height: 2rem;
}

.home .section-3 .background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home .section-4 .fs-large {
  font-size: 60px;
}

.home .section-4 .item {
  max-width: 400px;
}

.home .section-4 .item img {
  max-height: 320px;
  object-fit: cover;
  object-position: center;
}

.home .section-4 .item .body {
  padding: 2rem;
}

@media screen and (min-width: 767px) {
  .home .section-1 {
    position: relative;
    margin-top: -100px;
  }
}

@media screen and (min-width: 991px) {

  .home .section-2 .text-box h6,
  .home .section-2 .text-box p,
  .home .section-2 .text-box span {
    line-height: 1.2rem;
  }

  .home .section-1 .item {
    max-width: 400px;
  }

  .home .section-2 .text-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 63%;
    height: 80%;
    padding-right: 10%;
    padding-top: 5%;
  }

  .home .section-2 .blue-text-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 30%;
    border-bottom-left-radius: 1rem;
  }
}

@media screen and (min-width: 1199px) {

  .home .section-2 .text-box h6,
  .home .section-2 .text-box p,
  .home .section-2 .text-box span {
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 1399px) {
  .home .section-2 .text-box .row .col {
    padding-block: 8px;
  }

  .home .section-2 .text-box h6,
  .home .section-2 .text-box p,
  .home .section-2 .text-box span {
    line-height: 2rem;
  }
}



/* ___ FAQs Style ___ */
.faqs .accordion-header button {
  font-size: 1.5rem;
  font-weight: 700;
}

.faqs .accordion-item {
  border: none;
  border-radius: 0;
  border-bottom: 3px solid var(--color-2);
}

.faqs .accordion-button {
  box-shadow: none;
  background-color: unset;
  color: unset;
  font-family: 'Rubik', sans-serif;
  color: var(--color-2);
  font-weight: 600;
  font-size: 20px;
}

.faqs .accordion-button::after {
  transform: rotate(-90deg);
}

.faqs .accordion-button:not(.collapsed)::after {
  transform: rotate(0deg) !important;
}

.faqs .accordion-body {
  font-family: 'Rubik', sans-serif;
  color: var(--color-2);
  font-weight: 500;
}